<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="devi" connectionString="server=.\SQLEXPRESS;database=project_multicloud;integrated security=true" />
    <add name="project_multicloudConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=project_multicloud;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="project_multicloudConnectionString2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=project_multicloud;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="project_multicloudConnectionString3" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=project_multicloud;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="project_multicloudConnectionString4" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=project_multicloud;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="project_multicloudConnectionString5" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=project_multicloud;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="project_multicloudConnectionString6" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=project_multicloud;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="project_multicloudConnectionString7" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=project_multicloud;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="phoenixConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=phoenix;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="phoenixConnectionString2" connectionString="Data Source=.\sqlexpress;Initial Catalog=phoenix;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
